@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: #1e90ff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	position: relative;
}
h1 {
	font-weight: 400;
}

.loader-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #1e90ff;
	transition: 0.5s ease-in-out;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	animation: bounce 1s ease-in-out infinite;
	transition: 0.5s ease-in-out;
}
@keyframes bounce {
	0% {
		top: 15%;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 15%;
	}
}